seed=10
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-word-stems=true
lcseg-path=baselines/lcseg/bin/segment
segmenter=edu.mit.nlp.segmenter.hierarchical.HBayesSegLSVB
duration-model=edu.mit.nlp.segmenter.duration.MarkovHierDurationModel
opt-duration-model=edu.mit.nlp.segmenter.duration.MarkovDurationModel
remove-stop-words=true
use-fixed-blocks=false
window-size=25
num-segs-known=false
same-alphas=true
beta-parameter=1
use-component-weights=false
em-params=false
