seed=10
dirichlet-prior=.1
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-word-stems=true
lcseg-path=baselines/lcseg/bin/segment
segmenter=edu.mit.nlp.segmenter.hierarchical.HBayesSegLSVB
remove-stop-words=true
use-fixed-blocks=false
window-size=25
num-segs-known=false
same-alphas=false
beta-parameter=1
use-component-weights=false
em-params=true
include-document-level=false
duration-model=edu.mit.nlp.segmenter.duration.NormalDurationModel
