base-segmenter=edu.mit.nlp.segmenter.UniformSegmenter
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-word-stems=true
lcseg-path=baselines/lcseg/bin/segment
segmenter=edu.mit.nlp.segmenter.hierarchical.GreedySegmenter
remove-stop-words=true
use-fixed-blocks=false
num-segs-known=false
