seed=10
base-segmenter=edu.mit.nlp.segmenter.wrappers.HBayesWrapper
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-word-stems=true
segmenter=edu.mit.nlp.segmenter.hierarchical.GreedySegmenter
remove-stop-words=true
use-fixed-blocks=false
num-segs-known=false
dirichlet-prior=.1
em-params=true
local-edurs=false

