duration-model=edu.mit.nlp.segmenter.duration.NormalDurationModel
base-segmenter=edu.mit.nlp.segmenter.wrappers.UIWrapper
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
use-word-stems=true
lcseg-path=baselines/lcseg/bin/segment
segmenter=edu.mit.nlp.segmenter.hierarchical.GreedySegmenter
remove-stop-words=true
use-fixed-blocks=false
num-segs-known=false
ui-path=/afs/csail.mit.edu/u/j/jacobe/bayesseg/baselines/textseg-1.211/
local-edurs=false
