.DS_store
*.avi
*.mp4
*.wav
public/content
ffdata
node_modules
builtAssets
vsbenv
public/js/main-built*
public/js/editing-interface/editing-interface/main-built*
*.sqlite

*~
.tern-port
# Mac
.DS_Store
