extends layout

block content
  .page-header
    h3 Contact

  .row
    .col-sm-4.col-md-4
        h4 Need help?
        p Contact <a href="https://www.amypavel.com" target="_blank">Amy Pavel</a> at apavel at cs dot cmu dot edu, or on twitter <a href="https://twitter.com/amypavel" target="_blank">@amypavel</a>
    .col-sm-4.col-md-4
        h4 Code
        p The majority of the interface code was written by <a href="https://people.eecs.berkeley.edu/~cjrd/" target="_blank">Colorado Reed.</a> Fork it on <a href="https://github.com/ucbvislab/vdigests" target="_blank">GitHub.</a>
    .col-sm-4.col-md-4
        h4 Paper
        p For more about this project, check out the original publication, <a href="http://vis.berkeley.edu/papers/videodigests/" target="_blank">"Video Digests: A Browsable, Skimmable Format for Informational Lecture Videos."</a>
