extends layout
block morecss
  != css("edit-interface")
  != css("jquery.jscrollpane")

block content
  #editing-interface
  #video-form.first-form
    include vd-form
block morejs
  != js("lib/require", {"data-main": "/js/editing-interface/main.js"})
