extends layout
block morecss
  != css("edit-interface")
  != css("jquery.jscrollpane")
  != css("output-display")

block bodycontent
  #editing-interface
  #viewing-interface

block js
  != js("lib/require", {"data-main": "/js/editing-interface/main.js"})
