extends layout
block navbar
  include partials/navigation

block modal
  div(id="modal-1" class="modal micromodal-slide" aria-hidden="true")
    div(class="modal__overlay" tabindex="-1" data-micromodal-close)
      div(class="modal__container" role="dialog" aria-modal aria-labelledby="modal-1-title")
        header(class="modal__header")
          h2(id="modal-1-title" class="modal__title") Publish
          button(aria-label="Close modal" class="modal__close" data-micromodal-close)
        div(id="modal-1-content" class="modal__content")
          p Make your Video Digest available to the outside world!
          p
            input(type="checkbox" id="publish-modal-unlisted")
            | Unlisted
        footer(class="modal__footer")
          button(class="modal__btn modal__btn-primary" id="publish-modal-publish" data-micromodal-close) Publish
          button(class="modal__btn" id="publish-modal-unpublish" data-micromodal-close) Unpublish
          button(class="modal__btn" data-micromodal-close aria-label="Close this dialog window") Close

block morecss
  != css("edit-interface")
  != css("jquery.jscrollpane")
  != css("lib/jquery.contextmenu")

block content
  #loading-image
    i(class="fas fa-spinner fa-spin")
    |  Loading Video Content
  #editing-interface
  #video-form.first-form
    include vd-form

  .unminimize-instructions.instr-shown Editing Instructions
  .instructions-text
      .instructions-minimize –
      ul
          li
            span.instr-task
              | add new chapter:
            i  control/command+alt+click
            |  at desired transcript location
          li
            span.instr-task
              | add new section:
            i  control/command+click
            |  at desired transcript location
          li
            span.instr-task
              | move a chapter/section start point:
            |  drag the chapter/section marker to a different location
          li
            span.instr-task
              | change a section break to chapter break:
            |  control/command+alt+click on section marker
          li
            span.instr-task
              | change a chapter break to a section break:
            |  control/command+click on chapter marker
          li
            span.instr-task
              | delete a section:
            |  click the red "x" when hovering over a section in
            |  the WYSIWYG view
          li
            span.instr-task
              | delete a chapter:
            |  delete all sections within the chapter
          li
            span.instr-task
              | change section keyframe:
            |  navigate video to desired location then press the camera button on the keyframe

block morejs
  if (prod)
    != js("lib/require")
    != js("main-built.min")
  else
    != js("lib/require", {"data-main": "/js/editing-interface/main.js"})

