extends layout
block morecss
  != css("edit-interface")
  != css("jquery.jscrollpane")
  != css("lib/jquery.contextmenu")

block content
  #editing-interface
  #video-form.first-form
    include vd-form

block morejs
  if (prod)
    != js("lib/require")
    != js("main-built")
  else
    != js("lib/require", {"data-main": "/js/editing-interface/main.js"})
