doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Colorado Reed')
    title #{title} | Video Digest
    != css('base')
    block morecss
  body
    block bodycontent
      include partials/navigation

      #main-container.container
        include partials/flash
        block content

    block js
      != js('application')
      script
        |window._csrf = "#{_csrf}";
      block morejs
