doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Colorado Reed')
    title #{title} | Video Digest
    link(href='https://fonts.googleapis.com/css?family=Cabin+Condensed',rel='stylesheet', type='text/css')
    script(src='https://kit.fontawesome.com/39472cd146.js',crossorigin='anonymous')
    != css('base')
    block morecss
  body
    block modal
    block bodycontent
      block navbar
        include partials/navigation

      #main-container.container
        include partials/flash
        block content
      #about
        p
            | Inspired by Bret Victor's presentation  
            a(href="http://worrydream.com/MediaForThinkingTheUnthinkable") Media for Thinking the Unthinkable
            |, members of the  
            a(href="http://vis.berkeley.edu/people/") VisLab
            |  at U.C. Berkeley built a set of authoring tools to construct this presentation.
        p You can read about their work
          | in their  
          a(href="http://vis.berkeley.edu/papers/videodigests/") UIST 2014 publication
          |, and you can view more video digests at  
          a(href="https://www.videodigests.com") videodigests.com
          |. 



    block js
      != js('application')
      script
        |window._csrf = "#{_csrf}";
      block morejs
