extends layout

block morecss
  != css('home')

block content
      h1#main-title Video Digests: A Browsable, Skimmable Format for Informational Lecture Videos
      #what-description Inspired by Bret Victor's presentation  
  
