@import "lib/bootstrap/bootstrap";
@import (less) "lib/font-awesome.min.css";
@import "lib/toastr";

// Customize variables
// -----------------------
@navbar-height: 25px;
@navbar-margin-bottom: 0;

body {
  padding-top: @navbar-height;
  font-size: 13px;
  width: 100%;
  color: rgb(100, 92, 111);
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 25px;
  height: 25px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  background: url(http://192.241.199.43/img/placeholder.png) no-repeat left center;
  background-size: 40px;
  padding-left: 50px;
  margin-left: 15px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

// Top container (navigation)
.topcontainer {
  margin: 0 3%;
}

// Main container
#main-container {
  height: inherit;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}
