/***************/
/* general css */
/***************/

* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    width: 100%;
    min-width: 1250px;
    color: rgb(100, 92, 111);
}

#main-container.container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

[data-ph]:empty:before{
  content: attr(data-ph);
  color: #888;
  font-style: italic;
  font-size: 0.95em;
}

/********************/
/* published css   */
/********************/
body.published .toolbar {
    display: none;
}

/********************/
/* video form css   */
/********************/
#video-form {
    display: none;
}

#yturl, #tranupload {
    display: block;
    height: 30px;
    width: 100%;
    position: static;
}

.yturlgroup, .trangroup, .confirmgroup, .processinggroup {
    display: none;
}

.first-form .yturlgroup {
    display: block;
}

.second-form .trangroup {
    display: block;
}

.third-form .confirmgroup {
    display: block;
}

.processing-form .processinggroup {
    display: block;
}

.processing-form #upload-video-stuff {
    display: none;
}

.editing #video-form, .viewing #video-form {
    display: none;
}

.yt-header-thumb {
    width: 75px;
    display: inline;
}

.loading-gif {
    margin-left: 10px;
    display: none;
}

.loading .loading-gif {
    display: inline-block;
}

#upload-video-stuff {
    border: 1px solid #333;
    cursor: pointer;
    background-color: rgb(252, 248, 252);
}
#upload-video-stuff:hover {
    background-color: rgb(248, 236, 248);
}

/********************/
/* editor-level css   */
/********************/
#editing-interface {
    max-width: 1800px;
    margin: auto;
    min-width: 1200px;
}

.editing #editing-interface {
    max-width: 3000px;
    height: inherit;
}

.editor-wrap {
    height: inherit;
}


/********************/
/* digest-level css */
/********************/
#maintitle {
    text-align: left;
    color: #645C6F;
    font-weight: normal;
    line-height: 45px;
    min-width: 200px;
    position: relative;
    padding: 0;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 0;
    display: inline-block;
}

#videolength {
    display: inline-block;
    font-size: 15px;
    color: #BDBDBD;
    margin: 0;
    margin-left: 0.4em;
}

#authortitle {
    padding-top: 5px;
    margin-bottom: 35px;
    font-size: 1.5em;
    color: #999999;
    font-style: italic;
    margin-top: -5px;
    width: 96%;
}

.digest-title-wrap:focus {
    outline: 0;
}
.editor-wrap .digest-title-wrap h1{
    margin: 0;
    padding: 0;
    display: block;
    margin: auto;
    margin: 36px auto;
}

#digest-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 60%;
    display:  inline-block;
    height: inherit;
    padding-left: 10px;
    border-right: 1px solid #E0E0E0;
    background: white;
    padding-left: 2%;
}

.viewing #digest-wrap {
    width: 80%;
    max-width: 1600px;
    margin: auto;
    float: none;
    display: block;
    border: none;
}

.digest-chapters-wrap {
    margin-top: 12px;
    max-width: 1300px;
    display: block;
}


/*************************/
/* chapter-level css     */
/************************/

.chapter {
    position: relative;
    margin-bottom: 40px;
}

.chapter-header {
    font-size: 25px;
    position: relative;
    padding-bottom: 0.7em;
    padding-top: 5px;
    width: 96%;
}

.chapter-header:after {
    content: attr(data-content);
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: pre;
    font-size: 0.6em;
    color: #BDBDBD;
}

.cover {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    cursor: pointer;
}

.cover img {
    height: 100%;
    display: block;
    margin: auto;
}

.cover:hover:before {
    content: "";
    position: absolute;
    top: 0;
    background: rgba(1,1,1, 0.4);
    width: inherit;
    background-image: url('http://192.241.199.43/img/play-button.png');
    background-repeat: no-repeat;
    height: inherit;
    z-index: 100;
    background-size: 60px;
    opacity: 0.9;
    background-position: 50%;
}

.aspect-wrap {
  position: relative;
	padding-bottom: 25.3125%; /* 16:9 */
	width: 45%;
	height: 0;
	float: left;
}

.aspect-wrap .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
}

.active .video-wrap {
    box-shadow: 0px 0px 24px rgb(97, 75, 91);
}

.summary-column {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    width: 50%;
}

.viewing .summary-column {
    margin-left: 22px;
}

.viewing .wysiwyg-add-chapter {
    display: none;
}

.wysiwyg-add-chapter {
    position: absolute;
    left: 3px;
    bottom: -20px;
    cursor: pointer;
    opacity: 0.8;
}

.wysiwyg-add-chapter:hover {
    opacity: 1;
}

// SECTION
.editing .section-row, .viewing .section-row {
    position: relative;
    position: relative;
    border: 1px dashed #FFFFFF;
    border-width: 1px;
    border-left: 0;
}

.section-row.focused {
    border: 1px solid rgba(56, 169, 240, 0.75);
    box-shadow: 0px 0px 10px rgba(56, 169, 240, 0.75) !important;
}

div.section-row:last-child {
    margin-bottom: 0;
}

/* .editing .section-row:hover .split-down, .editing .section-row:hover .merge-up { */
/*     content: ""; */
/*     background-size: 12px; */
/*     background-position: 0px 5px; */
/*     width: 40px; */
/*     height: 25px; */
/*     position: absolute; */
/*     background-repeat: no-repeat; */
/*     left: 50%; */
/*     margin-left: -5px; */
/*     cursor: pointer; */
/* } */

.editing .section-row:hover .split-down {
    background-image: url('http://192.241.199.43/img//split-icon.png');
    top: -12px;
}

/* .editing .section-row:hover .merge-up { */
/*     background-image: url('/img/split-icon-up.png'); */
/*     bottom: -19px; */
/* } */

/* .editing .chapter:first-child .section-row:first-child:hover .merge-up, .editing .chapter:first-child .section-row:first-child:hover .split-down { */
/*     background: none; */
/* } */

.viewing .section-row {
    cursor: pointer;
    margin-bottom: 4px;
}

.viewing .section-row:hover .keyframe-col:before {
    content: "";
    position: absolute;
    top: 0;
    background: rgba(1,1,1, 0.4);
    background-image: url('http://192.241.199.43/img/play-button.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-size: 30px;
    opacity: 0.9;
    background-position: 50%;
}

.editing .section-row.empty, .editing .section-row:hover {
    border: 1px dashed #DFDDDD;
    border-width: 1px;
    border-left: 0;
    margin-bottom: 8px;
    position: relative;
}

.editing .section-row {
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-left: none;
}

.section-row.active, .viewing .section-row {
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
}

 .section-row.active { 
     background: rgba(237, 237, 237, 1); 
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
 } 
.viewing .section-row:hover {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.keyframe-col {
    width: 18%;
    float: left;
    height: inherit;
    position: relative;
}

.keyframe-col:empty {
    border: 1px dashed #A3A1A1;
    background-image: url('/camera-icon-2.png');
    background-size: 59px 43px;
    background-repeat: no-repeat;
    background-position: 5px 3px;
}


/*************************/
/* section level css     */
/************************/
.section-text-wrap {
    display: inline-block;
    vertical-align: text-bottom;
    width: 82%;
    /* height: inherit; */
    /* height: 40px; */
    padding-left: 8px;
    padding-right: 4px;
}

.section-text-wrap .abs-summary {
    border: none;
    outline: none;
    font-size: 13px;
    min-height: 35px;
    height: 100%;
    border-color:  rgba(163,161,161,0);
}

.editing .section-text-wrap .abs-summary {
    font-size: 11px;
}

.section-text-wrap .abs-summary:empty {
    padding: 3px 4px;
}

.section-thumbnail {
    position: relative;
    border: 1px solid #555555;
    width: 100%;
}

.take-thumbnail-image {
    cursor: pointer;
    color: #444444;
    background-color: white;
    font-size: 12px;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 3px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    bottom: 0;
    display: none;
}

.take-thumbnail-image:hover {
    color: indigo;
}

.take-thumbnail-image:hover, .section-row:hover .take-thumbnail-image {
    display: block;
}

body.viewing .section-row .take-thumbnail-image {
    display: none;
}

.remove-section {
    display: none;
    position: absolute;
    top: -12px;
    right: -4px;
    font-size: 18px;
    color: #555555;
    cursor: pointer;
}
.remove-section:hover {
    color: rgb(224, 9, 9);
}
.section-row:hover .remove-section {
    display: block;
}

body.viewing .section-row .remove-section {
    display: none;
}


/*************************/
/* transcript-level css */
/************************/

.viewing #transcript-wrap {
    display: none;
}

#transcript-wrap {
    padding-top: 5px;
    width: 39.96%;
    line-height: 16px;
    height: inherit;
    float: left;
    position: relative;
    background-color: white;
    overflow: scroll;
}

/** transcript scrollbar style **/
.jspTrack {
    background-color: rgb(232, 234, 246);
}

.jspDrag {
    background-color: rgb(184, 189, 216);
}

.viewing .start-chapter-scroll-marker, .viewing .start-section-scroll-marker {
    display: none;
}

.start-chapter-scroll-marker, .start-section-scroll-marker {
    position: absolute;
    right: 0;
    width: 16px;
    height: 3px;
}
.start-chapter-scroll-marker {
    background-color: red;
}
.start-section-scroll-marker {
    background-color: blue;
}

/****/

.transcript-words {
    float: left;
    padding-top: 4px;
    background-color: white;
    padding-right: 1em;
    max-width: 650px;
}

.transcript-words p {
    font-size: 10pt;
    margin-bottom: 0;
    padding: 0 10px;
    cursor: default;
}

.bpdrag * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.transcript-words p + p {
    padding-top: 20px;
}

/* so clicking near the word activates the word */
.word {
    padding: 0 2px;
    line-height: 1.2em;
    margin: 0;
    margin-left: -5px;
    padding-left: 5px;
}
.word:hover {
    color: #BBBBBB;
}

.word.active {
    background: rgb(255, 255, 111);
}

.secword {
    background-color: rgb(232, 246, 255);
}

.start-section-marker {
    width: 10px;
    height: 10px;
    background-color: blue;
    display: inline-block;
    margin: 0 5px
}

.start-chapter-marker {
    width: 5px;
    height: 14px;
    background-color: red;
    display: inline-block;
    margin-right: 18px;
}
.start-chapter-marker:after {
    content: "";
    margin-left: 6px;
    height: 10px;
    width: 10px;
    background-color: blue;
    display: inline-block;
}

.drag-chapter-word {
    color: red;
}
.drag-section-word {
    color: blue;
}

.blink-me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/** Edit Toolbar **/
.toolbar {
    bottom: 0;
    left: 0;
    background: white;
    position: fixed;
    z-index: 10000;
    font-size: 20px;
    border: 2px solid;
    border-width: 1px 1px 0 0;
    padding: 3px 6px;
    border-radius: 0 5px;
}

.toolbar .fa + .fa {
    margin-left: 10px;
}

.toolbar-icon {
    position: relative;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.falabel {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 34px;
    font-size: 9px;
    margin-left: -17px;
    cursor: pointer;
}

.toolbar-icon:hover * {
    color: teal;
}

#to-edit-vdigest {
    width: 65px;
    height: 65px;
}
#to-edit-vdigest .falabel {
    width: 75px;
    font-size: 12px;
    margin-left: -37.5px;
}

.viewing .toolbar-icon {
    display: none;
}

.viewing #to-edit-vdigest {
    display: block;
}

.editing #to-edit-vdigest {
    display: none;
}

/** ASSORTED OTHER CSS */
input[type=file] {
    display:none;
    height:0;
    width:0;
    position: absolute;
    top: 0;
}

.floatclear {
    clear: both;
}

.gutterLine {
    display: none;
}
.contextMenuPlugin li + li {
    border-top: 1px solid #cccccc;
}

.editing .contextMenuPlugin > li > span {
    padding: 3px 2px;
}

.full-cover-loading {
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(102, 102, 102, 0.61);
    color: white;
    font-size: 30pt;
    padding-top: 4rem;
    text-align: center;
}

