* {
    box-sizing: border-box;
    color: #3C3C3C;
}

body {
    font-size: 13px;
    height: 500px;
    width: 100%;
    min-width: 1250px;
    overflow-y: hidden;
}

#outputSummary {
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    width: 700px;
    height: inherit;
    background-color: ghostwhite;
    padding-left: 10px;
}

#transcript-wrap {
    width: 515px;
    margin-left: 700px;
    line-height: 2em;
    height: inherit;
    background-color: white;
    overflow: scroll;
}

#transcript {
    float: left;
    width: 500px;
    background-color: white;
    margin: 0 7px;
}

#transcript p {
    font-size: 10pt;
    margin-bottom: 1.5em;
}

.textCol p {
    margin: 0 0 0 -25px;
    font-size: 10px;
    padding-right: 5px;
}

.container {
    height: 900px;
}

.blendTextarea textarea{
    width: 250px;
    border: none;
    height: 50px;
    box-shadow: 1px 1px 8px -1px #333333;
    margin-left: -15px;
    font-size: 10px;
}

.keyframeCol {
    width: 27%;
}

.summaryRow {
    padding-bottom: 8px;
}

.selected {
    background-color: lightgrey;
}


#summary {
    float: left;
    width: 490px;
    height: 900px;
    background-color: #deebde;
}


#timeline {
    float: left;
    height:900px;
    background-color: white;
}

#controls {
    margin-left: 2px;
    background-color: white;
}

#timeline {
    width: 80px;
    background-color: lavender;
}

#addControl {
    background-color: aliceblue;
}
.img-myThumbnail {
    width: 60px;
    height: 50px;
    box-shadow: 1px 1px 8px -1px #333333;
    background-color: white;
}
video {
    box-shadow: 1px 1px 8px -1px #333333;
}

.groupCtrl:hover {
    opacity: 1;
}

.groupCtrl {
    background-color: none;
    height: 30px;
    opacity: 1;
    text-align: left;
    position: relative;
    width: 100%;
}

.add-section {
    right: 55px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 4px;
    padding: 2px 6px 2px 6px;
    font-size: .9em;
    border-radius: 0px;
    background: lightgrey;
    border: 1px #aaaaaa solid;
}

.subtract-section {
    right: 25px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 4px;
    padding: 2px 6px 2px 6px;
    font-size: .9em;
    border-radius: 0px;
    background: lightgrey;
    border: 1px #aaaaaa solid;
}

.groupCtrl input {
    outline: none;
    width: 80%;
    font-size: 20px;
    border: none;
    overflow: hidden;
    background-color: inherit;
    margin-left: 1em;
/*opacity: 0;*/
}

.groupCtrl textarea:active {
    border: none;
}

.boundary {
    position: relative;
    z-index: 10;
    top: -900px;
    width: 900px;
    height: 2px;
    top: 0px;
    background: blue;
}
