body {
    font-size: 13px;
}

.textCol p {
    margin: 0 0 0 -25px;
    font-size: 10px;
    padding-right: 5px;
}

.container {
    height: 900px;
}

#video {
/*margin-top: -22px;*/
}

#right {
    float: left;
    width: 840px;
    height: 900px;
    background-color: rgb(215, 226, 0);
    overflow: hidden;
}

#right #outputSummary {
    overflow: scroll;
    float: left;
    width: 855px;
    height: 900px;
    background-color: lavender;
}

#center {
    float: left;
    margin-left: 10px;
    width: 500px;
    height: 900px;
    background-color: blue;
    overflow: hidden;
}

.blendTextarea textarea{
    width: 280px;
    border: none;
    background-color: lightgrey;
    height: 43px;
    box-shadow: 1px 1px 8px -1px #333333;
    margin-left: -15px;
    font-size: 10px;
}

.summaryRow {
    padding-bottom: 4px;
}

.selected {
    background-color: lightgrey;
}

#center #scrolling {
    width: 515px;
    height: inherit;
    background-color: white;
    overflow: scroll;
}

#transcript {
    float: left;
    width: 500px;
    background-color: white;
    margin-right: 5px;
}

#summary {
    float: left;
    width: 490px;
    height: 900px;
    background-color: #deebde;
}


#timeline {
    float: left;
    height:900px;
    background-color: white;
}

#controls {
    margin-left: 2px;
    background-color: white;
}

#timeline {
    width: 80px;
    background-color: lavender;
}

#addControl {
    background-color: aliceblue;
}
.img-myThumbnail {
    width: 65px;
    height: 43px;
    box-shadow: 1px 1px 8px -1px #333333;
}
video {
    box-shadow: 1px 1px 8px -1px #333333;
}

.groupRow {
    padding: 40px 0px 10px 0px;
    border-top: 1px solid lightgrey;
}
.groupCtrl:hover {
    opacity: 1;
}

.groupCtrl {
    margin-left: 20px;
    position: relative;
    top: -30px;
    background-color: none;
    height: 30px;
    opacity: 1;
    text-align: right;
    padding-right: 30px;
}

.add-section {
    left: 762px;
    position: absolute;
    top: 0px;
    padding: 2px 6px 2px 6px;
    font-size: .9em;
    border-radius: 0px;
    background: lightgrey;
    border: 1px #aaaaaa solid;
}

.subtract-section {
    left: 730px;
    position: absolute;
    top: 0px;
    padding: 2px 6px 2px 6px;
    font-size: .9em;
    border-radius: 0px;
    background: lightgrey;
    border: 1px #aaaaaa solid;
}

.groupCtrl textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 410px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    background-color: inherit;
/*opacity: 0;*/
}

.groupCtrl textarea:active {
    border: none;
}

.boundary {
    position: relative;
    z-index: 10;
    top: -900px;
    width: 900px;
    height: 2px;
    top: 0px;
    background: blue;
}
