13
.grey {
	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.19) 49%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%);
}

.digest-title {
    text-align: center;
    margin: 0.4em auto;
}
.digest-title-wrap h1 {
    font-size: 48px;
    margin-bottom: 1em;
}

.chapter-title {
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
    color: #645C6F;
}

.groupRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.groupRow + .groupRow {
    margin-top: 50px;
}

.groupHead {
	text-align: center;
	margin-bottom: -5px;
}

.output-digest {
    width: 1066px;
    margin: auto;
    margin-bottom: 150px;
}

.video-wrap {
	background-color: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.2);
	height: 312px;
	width: 566px;
	float: left;
}

.sections {
    margin-left: 10px;
    width: 400px;
    float: left;
}

.section {
  cursor: pointer;
	float: left;
	min-height: 58px;
	width: 472px;
	margin-bottom: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.section:hover, .section.active {
  background-color: rgba(255, 171, 231, 0.05);
	border-top: 1px solid rgba(0, 0, 0, .25);
	border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.keyframe {
	float: left;
	height: 62px;
	width: 87px;
	background-color: lavender;
}

.keyframe img {
    height: inherit;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.caption {
	font-family: helvetica;
	float: left;
	margin-left: 10px;
	width: 355px;
	font-size: 12px;
}
