careful-debug=false
mcem-cuephrases=false
use-extra-features=false
use-choi-style-boundaries=true
stop-words=config/STOPWORD.list
num-mcmc-moves=10000
segmentation-dispersion-range=.1,100,20,M
use-word-stems=true
phi-b-0=.01
lambda-o=0
output-period=100
segmentation-dispersion=1
segmenter=edu.mit.nlp.segmenter.mcmc.CuCoSeg
chi-squared-analysis=false
phi-o-0=.005
update-params-period=100
cuephrase-file-hidden=config/CUEPHRASES.hl
dirichlet-prior=.2
em-param-search=false
initializer=edu.mit.nlp.segmenter.RandomSegmenter
burnin-duration=.25
dirichlet-prior-range=.0001,.1,20,M
window-size-range=10,25,16,A
remove-stop-words=true
window-size=10
use-duration=false
max-move=50
max-burnin-temp=1
cooling-duration=.25
use-fixed-blocks=false
num-segs-known=true
update-lm-period=100
lambda-b=1
