<div class="toolbar">
  <div class="toolbar-icon" id="save-vdigest">
  <i class="fa fa-save"></i>
  <span class="falabel">save</span>
  </div>
  <div class="toolbar-icon" id="preview-vdigest">
  <i class="fa fa-eye"></i>
  <span class="falabel">preview</span>
  </div>
  <div class="toolbar-icon" id="publish-vdigest">
  <i class="fa fa-check-square"></i>
  <span class="falabel">publish</span>
  </div>
  <div class="toolbar-icon" id="to-edit-vdigest">
  <i class="fa fa-arrow-left"></i>
  <span class="falabel">Return To Editor</span>
  </div>
</div>


<div id="digest-wrap">
</div>

<div id="transcript-wrap">
</div>

<input type="file"/>
