<div class="toolbar">
  <div class="toolbar-icon">
  <i class="fa fa-save" id="save-vdigest"></i>
  <span class="falabel">save</span>
  </div>
  <div class="toolbar-icon">
  <i class="fa fa-eye" id="preview-vdigest"></i>
  <span class="falabel">preview</span>
  </div>
  <div class="toolbar-icon">
  <i class="fa fa-check-square" id="publish-vdigest"></i>
  <span class="falabel">publish</span>
  </div>
</div>


<div class="digest-wrap">
</div>

<div class="transcript-wrap">
</div>

<input type="file"/>
