<div class="toolbar">
  <div class="toolbar-icon" id="save-vdigest">
  <i class="fa fa-save"></i>
  <span class="falabel">save</span>
  </div>
  <div class="toolbar-icon" id="preview-vdigest">
  <i class="fa fa-eye"></i>
  <span class="falabel">preview</span>
  </div>
  <div class="toolbar-icon" id="publish-vdigest">
  <i class="fa fa-check-square"></i>
  <span class="falabel">publish</span>
  </div>
</div>


<div class="digest-wrap">
</div>

<div class="transcript-wrap">
</div>

<input type="file"/>
