update-params-period=100
lambda-o=0
use-fixed-blocks=false
phi-b-0=.01
use-word-stems=true
num-segs-known=false
window-size=5
initializer=edu.mit.nlp.segmenter.RandomSegmenter
use-extra-features=false
update-lm-period=100
output-period=10000
use-choi-style-boundaries=true
segmentation-dispersion=8
max-burnin-temp=5
max-move=100
cuephrase-file=config/CUEPHRASES.hl
burnin-duration=0.2

num-mcmc-moves=50000
segmenter=edu.mit.nlp.segmenter.mcmc.CuCoSeg
em-param-search=true
mcem-cuephrases=false
use-duration=false
phi-o-0=.005
remove-stop-words=true
dirichlet-prior=0.2
lambda-b=1
stop-words=config/STOPWORD.list
careful-debug=false
cooling-duration=0.2
chi-squared-analysis=false
